@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-gray-700 text-lg font-mono leading-6;
}

.container {
  @apply max-w-3xl m-auto p-5 md:p-10 flex flex-col;
}

header {
  @apply pb-10 flex flex-row items-center;
}

.logo-container {
  @apply flex flex-1;
}

.logo {
  @apply font-bold;
}

nav {
  @apply hidden md:flex;
}

.nav-link {
  @apply hover:underline mx-2;
}

.hamburger {
  @apply block cursor-pointer md:hidden;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* Dropdown Button */
.dropbtn {
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  @apply relative inline-block md:hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content {
  display: block;
} */
.dropdown:focus .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

footer {
  @apply pt-10 text-sm items-center justify-center flex flex-col md:flex-row;
}

.footer-item {
  @apply mx-2;
}

.link {
  @apply underline;
}

.content {
  @apply flex flex-col text-base leading-normal break-words;
}

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.content > * + * {
  @apply mt-0 mb-4;
}

.content li + li {
  @apply mt-1;
}

.content li > p + p {
  @apply mt-6;
}

.content strong {
  @apply font-semibold;
}

.content a {
  @apply font-semibold hover:underline;
}

.content strong a {
  @apply font-bold;
}

.content h1 {
  @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

.content h2 {
  @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

.content h3 {
  @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

.content h4 {
  @apply leading-none text-base font-semibold mb-4 mt-6;
}

.content h5 {
  @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

.content h6 {
  @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

.content blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

.content code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-05;
}

.content pre {
  @apply bg-gray-100 rounded p-4;
}

.content pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

.content ul {
  @apply text-base pl-8 list-disc;
}

.content ol {
  @apply text-base pl-8 list-decimal;
}

.content kbd {
  @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.content table {
  @apply text-base border-gray-600;
}

.content th {
  @apply border py-1 px-3;
}

.content td {
  @apply border py-1 px-3;
}
